* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(209, 175, 181);
  padding: 0;
  display: grid;
  place-content: center;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  width: 100%;
  margin: 0 auto;
}

.container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 12px;
}

.giphy {
  border: 5px solid red;
  border-radius: 12px;
}

.yesHome {
  position: absolute;
  top: 20px;
  left: 40px;
}

.arrow-icon {
  width: 50px;
}
